body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-bottom: 10px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 2px;
    color: #555;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
#login {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#login:hover {
    background-color: #45a049;
}
button>a{
    text-decoration: none;
    color: azure;
}
#signup{
    background-color: #4c93af;
    
    color: rgb(21, 18, 18);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}